* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  position: relative;
  /* margin-top: 20px; */
}

/* !section-1  */
.aboutUs {
  padding-top: 30px;
  text-align: center;
}
.aboutUs__introduction {
  margin-bottom: 30px;
  text-transform: capitalize;
}
.aboutUs__introduction i {
  font-size: larger;
  color: #e67e22;
}
.aboutUs__list {
  width: 80%;
  margin: auto;
  text-align: left;
}
.list__item {
  padding: 0 10px;
  margin: 25px 0;
}
.list__item a {
  text-decoration: none; 
  color: black;
  font-weight: 700;
}
.introduction__title {
  margin: 0px;
  margin-top: 5px;
  font-size: 2em;
}
.introduction__caption {
  margin: 0px;
  margin-top: 5px;
  font-size: 1em;
  font-weight: 300;
}
/* !section-1  */

/* !section-2  */
.subtitle__item {
  display: flex;
  background: url('https://demo.w3layouts.com/demos_new/template_demo/06-10-2018/interface-demo_Free/1801170920/web/images/a2.jpg') no-repeat center;
  background-size: cover;
  padding: 20px 40px;
  position: relative;
}
.subtitle__item::before {
  background: rgba(255, 87, 34, 0.73);
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.subtitle__item .item__image {
  height: auto;
  max-width: 100%;
  width: 30%;
  position: relative;
  z-index: 2;
}
.subtitle__item .item__wrapper {
  color: white;
  position: relative;
  margin-top: 30px;
  z-index: 2;
}
.subtitle__item .item__wrapper .-border {
  border-bottom: 1px solid white;
  width: 90%;
  font-weight: bold;
}
.subtitle__item .item__wrapper .-smallText {
  font-size: small;
  width: 90%;
}
.subtitle .-item2 {
  background: url('https://demo.w3layouts.com/demos_new/template_demo/06-10-2018/interface-demo_Free/1801170920/web/images/a3.jpg') no-repeat center;
}
.subtitle .-item2::before {
  background: rgba(75, 73, 222, 0.74);
}
.subtitle .-item3 {
  background: url('https://demo.w3layouts.com/demos_new/template_demo/06-10-2018/interface-demo_Free/1801170920/web/images/a1.jpg') no-repeat center;
  padding: 50px;
}
.subtitle .-item3::before {
  background: rgba(231, 193, 60, 0.89);
}
.subtitle .-item3 {
  flex-direction: column-reverse;
}
.subtitle .-item3 .item__image {
  height: auto;
  width: 50%;
  margin: auto;
}
.subtitle .-item3 .item__wrapper {
  margin-top: 0px;
}
/* !section-2  */

/* !section-3 */

/* !section-3 */

/* !section-4  */
/* !section-4  */


header {
  background: url('https://demo.w3layouts.com/demos_new/template_demo/06-10-2018/interface-demo_Free/1801170920/web/images/banner.png') no-repeat center #cedee4;
  background-size: cover;
  min-height: 50vh;
  text-align: center;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
  position: relative; 
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}
/* !banner */
.banner__text {
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 3%;
  display: inline;
  Color: #e67e22;
  padding: 20px 50px 20px 50px;
  opacity: 0.5;
  background: rgba(254,254,254,1);
  background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(223,230,233,1) 42%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(42%, rgba(223,230,233,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(100%, rgba(226,226,226,1)));
  background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(223,230,233,1) 42%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%);
  background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(223,230,233,1) 42%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(223,230,233,1) 42%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%);
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(223,230,233,1) 42%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
}
/* !banner  */

footer {
  background: #dfe6e9;
  padding: 0 20px;
  display: flex;
  font-size: 0.7em;
  flex-direction: column;
  align-items: center;
  color: #e67e22;
  width: 100%;
  right: 0;
  left: 0;
}

/* !Block-1 */
.formSendMessage {
  padding-right: 15px;
  padding-left: 0px;
  width: 100%;
}
.formSendMessage__title {
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: 800;
  margin-bottom: 30px;
}
.formSendMessage__form-wrapper {
  position: relative;
  margin-bottom: 25px;
}
.formSendMessage__form-wrapper input[type=text] {
  position: absolute;
  right: 0%;
  width: 70%;
  border-radius: 0;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.formSendMessage__form button {
  position: relative;
  height: auto;
  right: -60%;
  margin-top: 10px;
  background-color: #e67e22;
  padding: 10px 50px 10px 50px;
  border-radius: 10%;
  font-family: monospace;
  font-size: 1em;
}
.formSendMessage__socialIcon {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
.socialIcon__icon {
  display: flex;
  list-style-type: none;
  padding-left: 10px;
  margin-left: 10px;
}
.socialIcon__icon li {
  align-self: center;
}
.socialIcon__icon li a  {
  margin-right: 10px;
}
.socialIcon__icon li a i {
  font-size: 25px;
  color: #e67e22;
}
/* !Block-1 */

/* !Block-2 */
.information {
  width: 98%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.siteNavigation__title {
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 0;
}
.siteNavigation__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.siteNavigation__list li {
  margin-right: 10px;
  margin-bottom: 10px;
}
.siteNavigation__list li a {
  text-decoration: none;
  color: #e67e22;
}
.contact__title {
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 0px;
}
.information_contact p {
  margin-top: 10px;
}
/* !Block-2 */

/* !Block-3 */
.copyright {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
/* !Block-3 */




@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}