* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background: url("https://demo.w3layouts.com/demos_new/template_demo/06-10-2018/interface-demo_Free/1801170920/web/images/banner.png")
    no-repeat center #cedee4;
  background-size: cover;
  min-height: 50vh;
  text-align: center;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
  position: relative;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14),
    0 1px 14px 0 rgba(0, 0, 0, 0.12);
}
/* !navigation menu  */
.navigation {
  position: fixed;
  /* background: #81ecec; */
  z-index: 999;
  width: 100%;
}
.navigation .navigation__button {
  color: #e67e22;
  text-transform: uppercase;
  border-radius: 10%;
  border: 0;
  position: fixed;
  left: 0;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #c7ecee;
  padding: 10px;
  font-size: large;
}
.navigation .navigation__list {
  display: none;
  list-style-type: none;
  justify-content: space-evenly;
  padding-left: 0;
  text-transform: uppercase;
  background-color: #c7ecee;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
.navigation__list li {
  color: #e67e22;
}
/* !banner */
.banner__text {
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 3%;
  display: inline;
  color: #e67e22;
  padding: 20px 50px 20px 50px;
  opacity: 0.5;
  background: rgba(254, 254, 254, 1);
  background: -moz-linear-gradient(
    top,
    rgba(254, 254, 254, 1) 0%,
    rgba(223, 230, 233, 1) 42%,
    rgba(219, 219, 219, 1) 50%,
    rgba(226, 226, 226, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(254, 254, 254, 1)),
    color-stop(42%, rgba(223, 230, 233, 1)),
    color-stop(50%, rgba(219, 219, 219, 1)),
    color-stop(100%, rgba(226, 226, 226, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(254, 254, 254, 1) 0%,
    rgba(223, 230, 233, 1) 42%,
    rgba(219, 219, 219, 1) 50%,
    rgba(226, 226, 226, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(254, 254, 254, 1) 0%,
    rgba(223, 230, 233, 1) 42%,
    rgba(219, 219, 219, 1) 50%,
    rgba(226, 226, 226, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(254, 254, 254, 1) 0%,
    rgba(223, 230, 233, 1) 42%,
    rgba(219, 219, 219, 1) 50%,
    rgba(226, 226, 226, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(254, 254, 254, 1) 0%,
    rgba(223, 230, 233, 1) 42%,
    rgba(219, 219, 219, 1) 50%,
    rgba(226, 226, 226, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
}

main {
  position: relative;
  /* margin-top: 20px; */
}
/* !section-1  */
.aboutUs {
  padding-top: 30px;
  text-align: center;
}
.aboutUs__introduction {
  margin-bottom: 30px;
  text-transform: capitalize;
}
.aboutUs__introduction i {
  font-size: larger;
  color: #e67e22;
}
.aboutUs__list {
  width: 80%;
  margin: auto;
  text-align: left;
}
.list__item {
  padding: 0 10px;
  margin: 25px 0;
}
.list__item a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.introduction__title {
  margin: 0px;
  margin-top: 5px;
  font-size: 2em;
}
.introduction__caption {
  margin: 0px;
  margin-top: 5px;
  font-size: 1em;
  font-weight: 300;
}
/* !section-2  */
.subtitle__item {
  display: flex;
  background: url("https://demo.w3layouts.com/demos_new/template_demo/06-10-2018/interface-demo_Free/1801170920/web/images/a2.jpg")
    no-repeat center;
  background-size: cover;
  padding: 20px 40px;
  position: relative;
}
.subtitle__item::before {
  background: rgba(255, 87, 34, 0.73);
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.subtitle__item .item__image {
  height: auto;
  max-width: 100%;
  width: 30%;
  position: relative;
  z-index: 2;
}
.subtitle__item .item__wrapper {
  color: white;
  position: relative;
  margin-top: 30px;
  z-index: 2;
}
.subtitle__item .item__wrapper .-border {
  border-bottom: 1px solid white;
  width: 90%;
  font-weight: bold;
}
.subtitle__item .item__wrapper .-smallText {
  font-size: small;
  width: 90%;
}
.subtitle .-item2 {
  background: url("https://demo.w3layouts.com/demos_new/template_demo/06-10-2018/interface-demo_Free/1801170920/web/images/a3.jpg")
    no-repeat center;
}
.subtitle .-item2::before {
  background: rgba(75, 73, 222, 0.74);
}
.subtitle .-item3 {
  background: url("https://demo.w3layouts.com/demos_new/template_demo/06-10-2018/interface-demo_Free/1801170920/web/images/a1.jpg")
    no-repeat center;
  padding: 50px;
}
.subtitle .-item3::before {
  background: rgba(231, 193, 60, 0.89);
}
.subtitle .-item3 {
  flex-direction: column-reverse;
}
.subtitle .-item3 .item__image {
  height: auto;
  width: 50%;
  margin: auto;
}
.subtitle .-item3 .item__wrapper {
  margin-top: 0px;
}
/* !section-3 */
.ourCapabilities {
  text-align: center;
  padding-top: 30px;
}
.ourCapabilities__introduction {
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: smaller;
}
.ourCapabilities__introduction i {
  font-size: larger;
  color: #e67e22;
}
.ourCapabilities__timeline {
  position: relative;
  width: 100%;
  /* height: 500px; */
}
.ourCapabilities__timeline::before {
  content: "";
  background: black;
  top: 0;
  left: 83px;
  right: 0;
  border-radius: 20px;
  width: 5px;
  height: 100%;
  position: absolute;
}
.ourCapabilities__timeline .timeline__item {
  display: flex;
  text-align: left;
  position: relative;
  /* margin-bottom: 10px; */
}
.timeline__item .item__icon {
  width: 50px;
  height: 50px;
  padding: 5px;
  padding-top: 6px;
  border-radius: 50%;
  border: 3px solid #ec496e;
  position: relative;
  left: 5%;
  margin-top: 15px;
}
.timeline__item .item__icon::before {
  position: absolute;
  content: "";
  left: 130%;
  top: 21%;
  z-index: 1;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ec496e;
  border: 4px solid #fff;
}
.timeline__item .item__icon::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: -60%;
  width: 3px;
  background-color: #ec496e;
  transform: rotate(90deg);
}
.timeline__item .item__icon i {
  border-radius: 50%;
  padding: 5px;
  padding-top: 6px;
  background: #ec496e;
  font-size: 20px;
  position: relative;
  z-index: 1;
}
.timeline__item .item__icon a::after {
  position: absolute;
  content: "";
  background: #fff;
  height: 30px;
  width: 30px;
  top: 50%;
  right: -20%;
}
.timeline__item .item__content {
  padding-right: 5px;
  padding-left: 100px;
  font-size: small;
  position: relative;
}
.timeline__item .item__content::before {
  content: "";
  position: absolute;
  width: 50%;
  top: 25%;
  bottom: 0;
  right: 0;
  left: 17%;
  border-left: 3px solid #ec496e;
  border-bottom: 3px solid #ec496e;
}
.item__content h3 {
  text-transform: uppercase;
  color: #ec496e;
  font-weight: 600;
}
.timeline__item-orange h3 {
  color: #f9850f;
}
.timeline__item-orange .item__content::before {
  border-left-color: #f9850f;
  border-bottom-color: #f9850f;
}
.timeline__item-orange .item__icon {
  border-color: #f9850f;
}
.timeline__item-orange .item__icon::before,
.timeline__item-orange .item__icon::after {
  background-color: #f9850f;
}
.timeline__item-orange .item__icon i {
  background: #f9850f;
}
.timeline__item-green h3 {
  color: #8fb800;
}
.timeline__item-green .item__icon {
  border-color: #8fb800;
}
.timeline__item-green .item__icon::before,
.timeline__item-green .item__icon::after {
  background-color: #8fb800;
}
.timeline__item-green .item__icon i {
  background: #8fb800;
}
.timeline__item-green .item__content::before {
  border-left-color: #8fb800;
  border-bottom-color: #8fb800;
}
.timeline__item-blue h3 {
  color: #2fcea5;
}
.timeline__item-blue .item__content::before {
  border-left-color: #2fcea5;
  border-bottom-color: #2fcea5;
}
.timeline__item-blue .item__icon {
  border-color: #2fcea5;
  left: 7%;
  padding-top: 5px;
}
.timeline__item-blue .item__icon::before,
.timeline__item-blue .item__icon::after {
  background-color: #2fcea5;
}
.timeline__item-blue .item__icon i {
  background: #2fcea5;
}
/* !section-3 */

/* !section-4  */
.easyCustomization {
  text-align: center;
  padding-top: 30px;
}
.easyCustomization__introduction {
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: smaller;
}
.easyCustomization__introduction i {
  font-size: larger;
  color: #e67e22;
}
.easyCustomization__listImageCard {
  margin-left: 15px;
  margin-right: 15px;
}
.easyCustomization__listImageCard .listImageCard__button {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
  /* padding: 0 25px; */
  display: inline-flex;
  right: -35%;
  position: relative;
}
.listImageCard__button .button__1 {
  background-color: rgb(23, 162, 184);
  padding: 10px 12px;
  border-radius: 15%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
}
.listImageCard__button .button__2 {
  background-color: rgb(220, 53, 69);
  border: 0;
  padding: 10px 12px;
  border-radius: 15%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.listImageCard__button .button__1 i {
  color: white;
  font-size: 1.3em;
}
.listImageCard__button .button__2 i {
  color: white;
  font-size: 1.3em;
}
.listImageCard__item {
  padding: 0 10px;
  border: none;
  box-shadow: 0 27px 24px rgba(0, 0, 0, 0.1), 0 40px 77px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 30px;
}
.listImageCard__item img {
  max-width: 100%;
  height: auto;
}
.listImageCard__item .item_content {
  padding-bottom: 5px;
}
.listImageCard__item h4 {
  /* text-align: left; */
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
  border-bottom: 1px solid #cec1c1;
}
.listImageCard__item p {
  padding: 10px;
  opacity: 0.5;
  font-size: 10px;
}

footer {
  background: #dfe6e9;
  padding: 0 20px;
  font-size: 0.7em;
  color: #e67e22;
  width: 100%;
}
/* !Block-1 */
.formSendMessage {
  padding-right: 15px;
  width: 100%;
}
.formSendMessage__title {
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: 800;
  margin-bottom: 30px;
}
.formSendMessage__form-wrapper {
  position: relative;
  margin-bottom: 25px;
}
.formSendMessage__form-wrapper input[type="text"] {
  position: absolute;
  right: 0%;
  width: 70%;
  border-radius: 0;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.formSendMessage__form button {
  position: relative;
  height: auto;
  right: -60%;
  margin-top: 10px;
  background-color: #e67e22;
  padding: 10px 50px 10px 50px;
  border-radius: 10%;
  font-family: monospace;
  font-size: 1em;
}
.formSendMessage__socialIcon {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
.socialIcon__icon {
  display: flex;
  list-style-type: none;
  padding-left: 10px;
  margin-left: 10px;
}
.socialIcon__icon li {
  align-self: center;
}
.socialIcon__icon li a {
  margin-right: 10px;
  color: #ffff;
}
.socialIcon__icon li a i {
  font-size: 25px;
  /* background: #003cbb;  */
}

footer .footer-wrapper {
  width: 100%;
}
/* !Block-2 */
.information {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.siteNavigation__title {
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 0;
}
.siteNavigation__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.siteNavigation__list li {
  margin-right: 10px;
  margin-bottom: 10px;
}
.siteNavigation__list li a {
  text-decoration: none;
  color: #e67e22;
}
.contact__title {
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 0px;
}
.information_contact p {
  margin-top: 10px;
}
/* !Block-3 */
.copyright {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  /* !header */
  .navigation .navigation__button {
    padding: 10px;
    font-size: 1.5em;
  }
  .banner__text {
    left: 15%;
    font-size: 25px;
  }
  /* !main */
  /* setion 3 */
  .ourCapabilities .ourCapabilities__timeline::before {
    width: 7px;
    left: 80px;
  }
  .ourCapabilities .ourCapabilities__timeline .timeline__item {
    left: -2%;
    margin-bottom: 10px;
  }
  .ourCapabilities
    .ourCapabilities__timeline
    .timeline__item
    .item__content::before {
    top: 36%;
    left: 13%;
  }
  .ourCapabilities .ourCapabilities__timeline .timeline__item-blue .item__icon {
    left: 6%;
  }
  .ourCapabilities
    .ourCapabilities__timeline
    .timeline__item-blue
    .item__icon::before {
    left: 137%;
  }
  /* section 4 */
  .easyCustomization .easyCustomization__listImageCard .listImageCard__button {
    right: -40%;
  }
  .easyCustomization
    .easyCustomization__listImageCard
    .listImageCard__item
    .item__content {
    font-size: 25px;
  }
  .easyCustomization
    .easyCustomization__listImageCard
    .listImageCard__item
    .item__content
    p {
    font-size: 15px;
  }
  /* !footer */
  footer {
    font-size: 15px;
  }
  footer .footer-wrapper {
    padding-right: 15px;
  }
  .formSendMessage
    .formSendMessage__form
    .formSendMessage__form-wrapper
    .form__label {
    font-size: 20px;
  }
  .formSendMessage button {
    right: -75%;
  }
  .information .information__siteNavigation .siteNavigation__list {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  /* !header */
  header {
    min-height: 70vh;
  }
  .navigation .navigation__button {
    display: none;
  }
  .navigation .navigation__list {
    display: flex;
    font-size: 1.5em;
  }
  .banner__text {
    left: 22%;
  }
  /* !main  */
  .ourCapabilities__timeline::before {
    left: 0 !important;
    margin: auto;
  }
  .ourCapabilities__timeline .timeline__item {
    left: -3% !important;
    margin-bottom: 50px !important;
  }
  .ourCapabilities__timeline .timeline__item-orange {
    padding-right: 410px;
    text-align: right;
  }
  .ourCapabilities__timeline .timeline__item-orange .item__icon {
    left: 120%;
  }
  .ourCapabilities__timeline .timeline__item-orange .item__icon::before {
    left: -92%;
  }
  .ourCapabilities__timeline .timeline__item-orange .item__icon::after {
    right: 168%;
    top: -16%;
    height: 59px;
  }
  .ourCapabilities__timeline .timeline__item-orange .item__icon a::after {
    right: 50%;
  }
  .ourCapabilities__timeline .timeline__item-orange .item__content {
    padding-left: 0px !important;
  }
  .ourCapabilities
    .ourCapabilities__timeline
    .timeline__item-orange
    .item__content::before {
    left: 55%;
    top: 10%;
    border-left: 0px;
    border-right: 3px solid #f9850f;
  }
  .ourCapabilities__timeline .timeline__item-orange {
    padding-right: 410px;
    text-align: right;
  }
  .ourCapabilities__timeline .timeline__item-orange .item__icon {
    left: 120%;
  }
  .ourCapabilities__timeline .timeline__item-orange .item__icon::before {
    left: -92%;
  }
  .ourCapabilities__timeline .timeline__item-orange .item__icon::after {
    right: 168%;
    top: -16%;
    height: 59px;
  }
  .ourCapabilities__timeline .timeline__item-orange .item__icon a::after {
    right: 50%;
  }
  .ourCapabilities__timeline .timeline__item-orange .item__content {
    padding-left: 0px !important;
  }
  .ourCapabilities
    .ourCapabilities__timeline
    .timeline__item-orange
    .item__content::before {
    left: 55%;
    top: 10%;
    border-left: 0px;
    border-right: 3px solid #f9850f;
  }

  /* !meow  */
  .ourCapabilities__timeline .timeline__item-blue {
    padding-right: 410px;
    text-align: right;
  }
  .ourCapabilities__timeline .timeline__item-blue .item__icon {
    left: 120% !important;
  }
  .ourCapabilities__timeline .timeline__item-blue .item__icon::before {
    left: -110% !important;
  }
  .ourCapabilities__timeline .timeline__item-blue .item__icon::after {
    right: 182%;
    top: -16%;
    height: 59px;
  }
  .ourCapabilities__timeline .timeline__item-blue .item__icon a::after {
    right: 50%;
  }
  .ourCapabilities__timeline .timeline__item-blue .item__content {
    padding-left: 0px;
  }
  .ourCapabilities
    .ourCapabilities__timeline
    .timeline__item-blue
    .item__content::before {
    left: 55%;
    top: 10%;
    border-left: 0px;
    border-right: 3px solid #2fcea5;
  }
  /* !meow  */

  .ourCapabilities__timeline .timeline__item-pink {
    padding-left: 319px;
  }
  .ourCapabilities__timeline .timeline__item-pink .item__content::before {
    top: 30% !important;
    left: 15% !important;
  }
  .ourCapabilities__timeline .timeline__item-green {
    padding-left: 319px;
  }
  .ourCapabilities__timeline .timeline__item-green .item__content::before {
    top: 30% !important;
    left: 15% !important;
  }
  /* !footer  */
  .formSendMessage__form button {
    right: -80%;
  }
}

@media only screen and (min-width: 1024px) {
  /* !header  */
  .navigation .navigation__list {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .banner__text {
    left: 30%;
    top: 25%;
  }

  /* !main  */
  /* section-1  */
  .aboutUs .aboutUs__introduction i {
    font-size: 2em;
  }
  .aboutUs .aboutUs__introduction h2 {
    font-size: 3em;
  }
  .aboutUs .aboutUs__introduction p {
    font-size: 1.5em;
  }
  .aboutUs .aboutUs__list {
    width: 90%;
  }
  .aboutUs .aboutUs__list-wrapper {
    padding-bottom: 30px;
    display: flex;
  }
  /* section-2  */
  .subtitle {
    display: flex;
    flex-wrap: wrap;
  }
  .subtitle-wrapper {
    width: 50%;
  }
  .subtitle .-item3 {
    width: 50%;
  }
  /* section-3  */
  .ourCapabilities .ourCapabilities__introduction i {
    font-size: 2em;
  }
  .ourCapabilities .ourCapabilities__introduction h2 {
    font-size: 3em;
  }
  .ourCapabilities .ourCapabilities__introduction p {
    font-size: 1.5em;
  }
  /* section-4  */
  .easyCustomization .easyCustomization__introduction i {
    font-size: 2em;
  }
  .easyCustomization .easyCustomization__introduction h2 {
    font-size: 3em;
  }
  .easyCustomization .easyCustomization__introduction p {
    font-size: 1.5em;
  }
  .easyCustomization__listImageCard .listImageCard__button {
    right: -44% !important;
  }
  .easyCustomization__listImageCard .listImageCard__button button i {
    font-size: 2em;
  }
  .easyCustomization__listImageCard-wrapper {
    display: flex;
  }
  .easyCustomization__listImageCard .listImageCard__item {
    margin-left: 10px;
  }
  .easyCustomization__listImageCard .listImageCard__item h4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* !footer  */
  footer {
    display: flex;
  }
  .formSendMessage__title {
    margin-top: 19px;
  }
  .formSendMessage__form-wrapper input[type="text"] {
    width: 60%;
  }
  .formSendMessage__form button {
    right: -70%;
  }
  .footer-wrapper {
    padding-right: 0 !important;
    padding-left: 50px;
  }
  .copyright {
    margin-top: 35px;
    margin-left: -465px;
  }
}